<div class="flex justify-between">
    <!-- brand logo -->
    <div class="row-start-1 col-span-1">
      <h1 class="text-3xl text-yellow-500 font-semibold">
        Muze<span class="text-white">Beats</span>
      </h1>
    </div>
    <ng-icon name="featherSearch" class="text-4xl text-white cursor-pointer"></ng-icon>
    <!-- search -->
    <!-- <div className="row-start-2 col-span-2 mt-5 lg:mt-0 lg:row-start-1 lg:col-start-2 lg:col-end-4 relative">
        <FiSearch size={24} className="text-white absolute z-10 top-3 left-3" />
        <label htmlFor="searchbeats">
          <input
            id="searchbeats"
            name="searchbeats"
            placeholder="search for beats..."
            aria-label="search music beats"
            className="w-full bg-white bg-opacity-25 backdrop-filter backdrop-blur-md py-3 px-12 rounded-sm placeholder-white hover:bg-opacity-40 transition-opacity focus:bg-opacity-40 focus:outline-none focus:ring-transparent focus:text-purple-900"
          />
        </label>
      </div> -->
    <!-- hamburger -->
    <!-- <div className="row-start-1 col-start-2 justify-self-end lg:col-start-4">
        <div className="w-10 h-7 flex flex-col justify-between group">
          {[...new Array(3)].map((_, k) => (
            <div
              key={k}
              className="h-1.5 w-full rounded-sm bg-white bg-opacity-25 backdrop-filter backdrop-blur-md cursor-pointer group-hover:bg-opacity-40 transition-opacity"
            />
          ))}
        </div>
      </div> -->
</div>