<div class="flex justify-between items-center">
    <!-- brand logo -->
    <div class="row-start-1 col-span-1">
      <h1 class="text-3xl text-yellow-500 font-semibold">
        Muze<span class="text-white">Beats</span>
      </h1>
    </div>
    <!-- search icon -->
    <div class="hidden lg:block"><ng-icon name="featherSearch" class="text-4xl text-white text-opacity-50"></ng-icon></div>
    <!-- hambuger -->
    <div class="lg:hidden">
      <div class="w-10 h-7 flex flex-col items-center justify-between">
        <div class="hambuger"></div>
        <div class="hambuger"></div>
        <div class="hambuger"></div>
      </div>
    </div>
</div>
<!-- search bar -->
<div class="relative lg:hidden mt-10">
    <ng-icon name="featherSearch" class="text-4xl text-white text-opacity-50 absolute top-3 left-5 z-10"></ng-icon>
    <label for="searchbeats">
      <input
        id="searchbeats"
        name="searchbeats"
        placeholder="Search beats"
        aria-label="Search beats"
        class="w-full bg-white bg-opacity-25 backdrop-filter backdrop-blur-md py-4 px-16 rounded-md placeholder-white hover:bg-opacity-40 transition-opacity focus:bg-opacity-40 focus:outline-none focus:ring-transparent focus:text-purple-900 cursor-pointer"
      />
    </label>
</div>